<footer class="footer">
  <!-- <%= image_tag('CaesarPalace1.jpeg') %> -->
  <small>
    <br/>
    Brought to you by
    <a mailto="mia@workday.com">the Monitoring team</a>.
    <br/>
  </small>
</footer>
