<footer class="footer">
  <small>
    <br/>
    The Monitoring Demo Game brought to you by
    <a mailto="mia@workday.com">the Monitoring team</a>.
    <br/>
  <nav>
      <%= link_to "Home",   '#' %>
  </nav>
  </small>
</footer>
